



table, td, th{
    font-weight: bold;
    border-collapse: collapse;
    border: 1px solid 
    
}

.card {
    
    border-radius: 20px;
    border-collapse: collapse;
    width: 100%;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 10px;
    text-align: left;
    
}


#filtro{

    text-align: left;
    margin: auto;
    
}

#botao_expandir{
    display: flex;
    justify-content: right;
    width: 30px;
    
}

.input-name{
    margin-top: 20px;
    width:100%;
    
}

.rua{
    width: 100%;
}

.bairro{
    width: 100%;
}

.dia-pagamento{
    width: 100%;
}

.status-pagamento{
    width: 100%;
}
