#overview-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: inherit; /* Mantém a cor de fundo da página */
}
 
#overview {
    background-color: white; /* Define o fundo branco para o componente centralizado */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80%; /* Largura ajustável conforme necessário */
    max-width: 800px; /* Limita a largura máxima */
}
 
#overview h1 {
    color: black; /* Altera a cor do texto do título para preto para melhor contraste */
}
 
table, td, th {
    color: black; /* Altera a cor do texto da tabela para preto para melhor contraste */
    font-weight: bold;
    border-collapse: collapse;
    border: 3px solid;
}
 
.card {
    font-size: 22px;
    color: black; /* Altera a cor do texto da tabela para preto para melhor contraste */
    border-radius: 20px;
    border-collapse: collapse;
    width: 100%;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 10px;
    text-align: left;
}
 
.listaClientes {
    text-align: center;
}
 
#filtro {
    text-align: left;
    margin: auto;
}
 
#botao_expandir {
    display: flex;
    justify-content: right;
    width: 30px;
}
 
.input-name, .rua, .bairro, .dia-pagamento, .status-pagamento {
    width: 100%;
    margin-top: 20px;
    height: 40px;
}
 
.sem_borda {
    border-left-color: transparent;
    border-right-color: transparent;
    padding-bottom: 50px;
}
 
.button-group {
    display: flex;
    gap: 10px; /* Adiciona espaço entre os botões */
    margin-bottom: 20px; /* Adiciona um pouco de margem inferior para separar do restante do conteúdo */
}
 
.btnBack, .button-group button[type="button"] {
    display: inline-block; /* Certifique-se de que ambos os botões se comportem como elementos inline-block */
}
 
.btnBack {
        border-radius: 100px;
        text-transform: uppercase;
        letter-spacing: 3px;
        font-weight: 800;
        background-color: lightskyblue;
        padding: 16px 20px;
        color: #0a0113;
        border: none;
        font-size: 20px;
        font-weight: bold;
        cursor: pointer;
        transition: background-color 0.3s ease;
}
 
.btnFilters {
    border-radius: 100px;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 800;
    background-color: #6610f2;
    padding: 16px 20px;
    color: white;
    border: none;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
 
.btnEditar {
    border-radius: 100px;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 800;
    background-color: #ffc107;
    padding: 16px 20px;
    color: #0a0113;
    border: none;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
 
.btnExcluir {
    border-radius: 100px;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 800;
    background-color: #dc3545;
    padding: 16px 20px;
    color: white;
    border: none;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
 
.btnOcultar{
        border-radius: 100px;
        text-transform: uppercase;
        letter-spacing: 3px;
        font-weight: 800;
        background-color: lightskyblue;
        padding: 16px 20px;
        color: #0a0113;
        border: none;
        font-size: 20px;
        font-weight: bold;
        cursor: pointer;
        transition: background-color 0.3s ease;
}
 
.btnExpandir{
    border-radius: 100px;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 800;
    background-color: lightskyblue;
    padding: 16px 20px;
    color: #0a0113;
    border: none;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}