 .button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    position: relative;
    overflow: hidden;
  }
  
  .button-wrapper {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #btnRegister{
    border-radius: 100px;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 800;
    background-color: lightskyblue;
    padding: 16px 20px;
    color: #0a0113;
    border: none;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  #btnLocation{
    border-radius: 100px;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 800;
    background-color: lightskyblue;
    padding: 16px 20px;
    color: #0a0113;
    border: none;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  #btnOverview{
    border-radius: 100px;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 800;
    background-color: lightskyblue;
    padding: 16px 20px;
    color: #0a0113;
    border: none;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  #btnExit{
    border-radius: 100px;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 800;
    background-color: lightskyblue;
    padding: 16px 20px;
    color: #0a0113;
    border: none;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  
  
  #btnRegister:hover, #btnLocation:hover, #btnOverview:hover, #btnExit:hover {
    background-color: #0056b3; 
  }
  