#container {
    display: flex;
    justify-content: center;
  }
  
  #form-container {
    width: 75%;
    max-width: 500px;
    background-color: #f2f2f2;
    padding: 20px;
    margin-top: 50px;
    border-radius: 8px;
  }
  
  #title {
    text-align: center;
  }
  
  #form {
    display: flex;
    flex-direction: column;
  }
  
  #form label {
    margin-bottom: 8px;
  }
  
  .input-box,
  select.input-box {
    width: calc(100% - 20px); /* Ajuste conforme necessário */
    padding: 10px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }
  
  #form label {
    margin-bottom: 8px;
    font-weight: bold; /* Adiciona negrito aos labels */
  }

  button {
    flex: 1; /* Ocupa todo o espaço disponível */
    margin-right: 8px; /* Espaçamento entre os botões */
    padding: 12px 20px;
    margin-bottom: 10px;
    background-color: #007bff;
    color: black;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:last-child {
    margin-right: 0; /* Remove o espaçamento do último botão */
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  @media only screen and (max-width: 600px){
    #form-container {
        margin-top: 20px;
      }
  }