*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-family: sans-serif;
  line-height: 1.6;
  box-sizing: border-box;
  color: #dfdfdf;
}

.hero {
  height: 100vh;
  background-image: linear-gradient(rgba(0,0,0, .6), rgba(0,0,0, .6)),
  url('/projeto_integrador_react/public/fundo.jpg');
  background-size: cover;
  background-position: center;
}

.logo {
  font-size: 90px;
  text-transform: capitalize;
}

.logo span {
  color:lightskyblue;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 20px 5%;
}

.nav__list {
  display: flex;
  align-items: center;
}

.nav__item {
  list-style: none;
}

.nav__link {
  text-decoration: none;
  color: #fff;
  font-size: 25px;
  margin: 0 20px;
  padding: 5px 0;
  transition: all .3s;
  border-bottom: 2px solid transparent;
}

.nav__link:hover {
  border-bottom: 2px solid lightskyblue;

}

.btn {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  text-transform: capitalize;
  border-radius: 5px;
  transition: all .2s;
}

.btn-1 {
  background-color: lightskyblue;
  padding: 10px 20px;
  border-radius: 100px;
}

.btn-2, .btn-3 {
  padding: 15px 30px;
  border: 2px solid lightskyblue;
  margin: 0 10px;
}

.btn-3 {
  background-color: lightskyblue;
}

.btn-2:hover {
  background-color: lightskyblue;
}

.btn-3:hover {
  background-color: transparent;
  border: 2px solid lightskyblue;
}


.content {
  width: 60%;
  margin: 0 auto;
  padding-top: 100px;
  text-align: center;
}

.content h1 {
  text-transform: uppercase;
  font-size: 40px;
}

.content p {
  font-size: 15px;
  margin-bottom: 50px;
}

.txtCadastrados{
  margin: 50px;
  background: lightskyblue
  
}