body {
  margin: 10px;
}
body * {
  box-sizing: border-box;
}

.main-login {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: rgb(6, 76, 92);
  color: #f2f8f5;
  position: relative; /* Para permitir o posicionamento absoluto do botão */
}
.left-login {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgb(6, 76, 92);
  color: #f2f8f5;
}
.left-login h1 {
  color: #f2f8f5;
}
.left-login-image {
  font-size: 3%;
  color: #edf3f0;
}
.right-login {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(6, 76, 92);
}
.card-login {
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 35px;
  background: #f2f8f5;
  border-radius: 20px;
  box-shadow: 0px 10px 40px #00000056;
}
.card-login > h1 {
  color: #dfe7e4;
  font-weight: 800;
  margin: 0;
}
.textfield {
  width: 100%;
  display: flex;
  color: black;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: 10px 0px;
}
.textfield > input {
  width: 100%;
  border: none;
  border-radius: 8px;
  padding: 5px;
  background: rgb(238, 241, 241);
  color: #020e0ede;
  font-size: 12pt;
  box-shadow: 0px 10px 40px rgb(0, 14, 17);
  outline: none;
  box-sizing: border-box;
}
.textfield > label {
  color: black;
  font-weight: bold;
  margin-bottom: 10px;
}
.textfield > input::placeholder {
  color: #000a0a94;
}
.button-group {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.btn-login, .btn-back {
  width: 48%;
  padding: 16px 0;
  border: none;
  border-radius: 8px;
  outline: none;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 3px;
  cursor: pointer;
  box-shadow: 0px 10px 40px -12px #0f241952;
}
.btn-login {
  color: #0a0113;
  background: #5cb85c;
  margin-right: 10px;
}
.btn-back {
  color: #0a0113;
  background: #ffc107;;
  margin-left: 10px;
}
.btnInvisivel {
  display: none;
}

.home-button-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.home-button {
  border-radius: 100px;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 800;
  background-color: lightskyblue;
  padding: 16px 20px;
  color: #0a0113;
  border: none;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

@media only screen and (max-width: 600px) {
  .main-login {
    flex-direction: column;
  }
  .left-login > h1 {
    display: none;
  }
  .left-login {
    width: 100%;
    height: auto;
  }
  .right-login {
    width: 100%;
    height: auto;
  }
  .left-login-image {
    width: 50%;
  }
  .card-login {
    width: 90%;
  }
}

@media only screen and (min-width: 601px) {
  .left-login-image {
    width: 30%;
  }
}

@media only screen and (max-width: 950px) {
  .card-login {
    width: 85%;
  }
}
